03-Pipeline/pl_full_medallion_run/pl_full_medallion_run/pl_full_medallion_run.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"nb_pl_conn":{"type":"string"},"conn_adventureworks_onprem":{"type":"string"},"lh_adventureworks_bronze":{"type":"string"}},"variables":{},"resources":[{"name":"pl_full_medallion_run","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Silver Sales Order","type":"TridentNotebook","dependsOn":[{"activity":"Bronze Ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"ba032d20-6334-4396-af41-c44632dedd35","workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46"}},{"name":"Silver Product","type":"TridentNotebook","dependsOn":[{"activity":"Bronze Ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b09c409f-66a1-4a76-a8ce-830c7b05a91e","workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46"}},{"name":"Silver Territory","type":"TridentNotebook","dependsOn":[{"activity":"Bronze Ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"3a9e23ff-0b1e-4cf1-9cf3-6ba45ab9f679","workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46"}},{"name":"Silver Employees","type":"TridentNotebook","dependsOn":[{"activity":"Bronze Ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"67155c97-3784-449e-9e6b-3ac73951403a","workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46"}},{"name":"Silver Address","type":"TridentNotebook","dependsOn":[{"activity":"Bronze Ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b282f12b-35fd-4cdb-9710-5e39411b19c3","workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46"}},{"name":"Gold Fact Sales","type":"TridentNotebook","dependsOn":[{"activity":"Silver Sales Order","dependencyConditions":["Succeeded"]},{"activity":"Silver Territory","dependencyConditions":["Succeeded"]},{"activity":"Silver Product","dependencyConditions":["Succeeded"]},{"activity":"Silver Employees","dependencyConditions":["Succeeded"]},{"activity":"Silver Address","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b3396030-66a3-40d1-bc59-2aa3c7d34722","workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46"}},{"name":"Bronze Ingestion","type":"InvokePipeline","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"814bf8b7-c97b-4a1a-af40-3e1eee4a4f8c","workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46","parameters":{}},"externalReferences":{"connection":"[parameters('nb_pl_conn')]"}}],"lastModifiedByObjectId":"f24bca70-2d44-4be7-8e5b-e708bc678a35","lastPublishTime":"2026-06-24T20:13:17Z"},"dependsOn":[]},{"name":"pl_bronze_ingest_adventureworks","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"tableList","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"table_list","value":["Sales.SalesOrderHeader","Sales.SalesOrderDetail","Sales.Customer","Sales.SalesPerson","Sales.SalesTerritory","Production.Product","Production.ProductCategory","Production.ProductSubcategory","Production.WorkOrder","Purchasing.PurchaseOrderHeader","Purchasing.PurchaseOrderDetail","Purchasing.Vendor","HumanResources.Department","HumanResources.EmployeeDepartmentHistory","Person.Person","Person.StateProvince","Person.BusinessEntityAddress","Person.AddressType"]}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"tableList","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('table_list')","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy_table","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"SELECT * FROM @{item()}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2025"},"externalReferences":{"connection":"[parameters('conn_adventureworks_onprem')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_adventureworks_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46","artifactId":"[parameters('lh_adventureworks_bronze')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":{"value":"@replace(item(), '.', '_')","type":"Expression"}}}},"enableStaging":false,"parallelCopies":1,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}},{"name":"Copy_employee","description":"this activity is to copy the employee table because of an issue specific to the schema of this table.","type":"Copy","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT \n    BusinessEntityID, NationalIDNumber, LoginID,\n    OrganizationNode.ToString() AS OrganizationNode,\n    OrganizationLevel, JobTitle, BirthDate, MaritalStatus, Gender,\n    HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag,\n    rowguid, ModifiedDate\nFROM HumanResources.Employee","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2025"},"externalReferences":{"connection":"[parameters('conn_adventureworks_onprem')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_adventureworks_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46","artifactId":"[parameters('lh_adventureworks_bronze')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"HumanResources_Employee"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_address","description":"copying person's address because of an issue with the original table schema that is not supported.","type":"Copy","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT \n    AddressID, AddressLine1, AddressLine2, City,\n    StateProvinceID, PostalCode,\n    SpatialLocation.ToString() AS SpatialLocation,\n    rowguid, ModifiedDate\nFROM Person.Address","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2025"},"externalReferences":{"connection":"[parameters('conn_adventureworks_onprem')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_adventureworks_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46","artifactId":"[parameters('lh_adventureworks_bronze')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"Person_Address"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"variables":{"table_list":{"type":"Array"}},"lastModifiedByObjectId":"f24bca70-2d44-4be7-8e5b-e708bc678a35","lastPublishTime":"2026-06-19T15:03:30Z"},"dependsOn":[]}]}