03-Pipeline/pl_bronze_ingest_adventureworks/pl_bronze_ingest_adventureworks/pl_bronze_ingest_adventureworks.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"conn_adventureworks_onprem":{"type":"string"},"lh_adventureworks_bronze":{"type":"string"}},"variables":{},"resources":[{"name":"pl_bronze_ingest_adventureworks","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"tableList","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"table_list","value":["Sales.SalesOrderHeader","Sales.SalesOrderDetail","Sales.Customer","Sales.SalesPerson","Sales.SalesTerritory","Production.Product","Production.ProductCategory","Production.ProductSubcategory","Production.WorkOrder","Purchasing.PurchaseOrderHeader","Purchasing.PurchaseOrderDetail","Purchasing.Vendor","HumanResources.Department","HumanResources.EmployeeDepartmentHistory","Person.Person","Person.StateProvince","Person.BusinessEntityAddress","Person.AddressType"]}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"tableList","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('table_list')","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy_table","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"SELECT * FROM @{item()}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2025"},"externalReferences":{"connection":"[parameters('conn_adventureworks_onprem')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_adventureworks_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46","artifactId":"[parameters('lh_adventureworks_bronze')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":{"value":"@replace(item(), '.', '_')","type":"Expression"}}}},"enableStaging":false,"parallelCopies":1,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}},{"name":"Copy_employee","description":"this activity is to copy the employee table because of an issue specific to the schema of this table.","type":"Copy","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT \n    BusinessEntityID, NationalIDNumber, LoginID,\n    OrganizationNode.ToString() AS OrganizationNode,\n    OrganizationLevel, JobTitle, BirthDate, MaritalStatus, Gender,\n    HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag,\n    rowguid, ModifiedDate\nFROM HumanResources.Employee","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2025"},"externalReferences":{"connection":"[parameters('conn_adventureworks_onprem')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_adventureworks_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46","artifactId":"[parameters('lh_adventureworks_bronze')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"HumanResources_Employee"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy_address","description":"copying person's address because of an issue with the original table schema that is not supported.","type":"Copy","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT \n    AddressID, AddressLine1, AddressLine2, City,\n    StateProvinceID, PostalCode,\n    SpatialLocation.ToString() AS SpatialLocation,\n    rowguid, ModifiedDate\nFROM Person.Address","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorks2025"},"externalReferences":{"connection":"[parameters('conn_adventureworks_onprem')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"lh_adventureworks_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"34c783db-d98d-49be-9982-0932cbb31c46","artifactId":"[parameters('lh_adventureworks_bronze')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"Person_Address"}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"variables":{"table_list":{"type":"Array"}},"lastModifiedByObjectId":"f24bca70-2d44-4be7-8e5b-e708bc678a35","lastPublishTime":"2026-06-19T15:03:30Z"},"dependsOn":[]}]}